*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.header{
	width: 100%;
	height: 100vh;
	background-image: url('datas/bike.jpg');
	background-size: cover;
	animation:slider 9s infinite linear;
}
@keyframes slider{
0%{background-image: url('datas/bike.jpg');}
35%{background-image: url('datas/bike3.jpeg');}
75%{background-image: url('datas/bike4.jpeg');}
}

nav
{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content:space-between;
	align-items: center;
	background-color: black;
	color: white;
	text-transform: uppercase;
}
nav .logo
{
width: 25%;
text-align: center;

}
nav .menu
{
	width: 40%;
	display: flex;
	justify-content: space-around;
}
nav .menu a{
	width: 25%;
	text-decoration: none;
	color: white;
}
nav .menu a:first-child
{
	color:#00b894 ;
}
nav .menu a:hover
{
	transition: all .5s ease;
	color:#00b894 ;
}
main
{
width: 100%;
height: 85vh;
display: flex;
justify-content:center;
align-items: center;
text-align: center;
}
section
{

}
section h3{
	color: white;
	font-size: 35px;font-weight: 200;letter-spacing: 3px;
	text-shadow: 1px 1px 1px red;
}
section h1
{
	margin: 30px 0px 20px 0px;
	color: white;
	font-size: 55px;
	font-weight: 700;
	 text-shadow: 1px 1px 1px red;
	text transform: uppercase;
}
section p
{
font-size: 25px;
word-spacing: 2px;
margin-bottom: 25px;
text-shadow: 1px 1px 1px red;
color: white;
}
section a{
	padding: 12px 30px ;
	outline: none;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 1px;
	transition: all .5s ease;
}
section .btnone{
	background: #fff;
	color: #000;

}
.btnone:hover
{
	background: #00b894;
	color: #fff;
}
.btntwo:hover
{
	background: #fff;
	color: #000;

}
section .btntwo
{
	background: #00b894;
	color: #fff;
}
.change_content:after
{
content: '';
animation: changetext 10s infinite linear;
color:#00b894 ;
}
@keyframes changetext
{
	0%{content: " and java";}
	25%{content: " and .net";}
	50%{content: " and python";}
	100%{content: " and c++";}
}



